.row{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    
    max-width: 100%;
    max-height: 50%;
}
.example-card {
    max-width: 300px;
    justify-content: space-between;
    margin:0.2rem;
    cursor: pointer;
}
.example-card:hover{
   opacity: 1;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   transition: all 0.3se ease;
}
  .mat-card-title{
      cursor: pointer;
      text-transform: capitalize;
  }

.example-image {

    }
  .btn-part{
    padding: 2px 16px;
  }
  .responsive-img {
    max-width:100%;
    display:block;
    height:auto;
    }